<div class="container" id="singlejokecommentsdiv">
    <div class="row">
        <p>{{text}}</p>
        <div class="commentfooter commentfootertext">POSTED BY: {{username}}</div>
        <div class="commentfooter commentfootertext">SCORE: {{score}}</div>
    </div>
</div>