<div class="row" id="topjokes">
    <div class="col-md-1"></div>

  <div class="col-md-10">
    {{#each topjokes}} 
      <p class="topjokes">
        {{this.topjokes}}
      </p>
    {{/each}}
  </div>

  <div class="col-md-1"></div>
    
</div>