<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/assets/images/laugh.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/loggedin.js"></script>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Montserrat:800|Tajawal" rel="stylesheet">
    <title>Jokester</title>
</head>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">HOME</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">JOKE TOPICS
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/joketopics/Animal">Animal Jokes</a></li>
              <li><a href="/joketopics/Cross the Road">Cross the Road Jokes</a></li>
              <li><a href="/joketopics/Food">Food Jokes</a></li>
              <li><a href="/joketopics/Kids">Kids Jokes</a></li>
              <li><a href="/joketopics/Knock Knock">Knock Knock Jokes</a></li>
              <li><a href="/joketopics/Programming">Programming Jokes</a></li>
              <li><a href="/joketopics/School">School Jokes</a></li>
              <li><a href="/joketopics/Walks into a Bar">Walks into a Bar Jokes</a></li>
              <li><a href="/joketopics/Work">Work Jokes</a></li>
              <li><a href="/joketopics/Yo Mama">Yo Mama Jokes</a></li>
            </ul>
          </li>
          <li class="active"><a href="/submitjoke">SUBMIT A JOKE</a></li>
          <form class="navbar-form navbar-right" action="/action_page.php">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="SEARCH">
            </div>
            <button type="submit" class="btn btn-default" id="submitbutton">SUBMIT</button>
          </form>    
    </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="greeting"><a id="greeting-text"></a></li>
          <li id="signup"><a href="/signup"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
          <li id="login"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> LOG IN</a></li>
          <li id="logout"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> LOG OUT</a></li>
        </ul>
  </div>
</nav>

{{{body}}}

</body>
</html>