<div class="container">

  <div class="row">
    <div class="col-md-3"><img id="laughimage" src="/assets/images/laugh.png" alt="burgerimage"></div>
    <div class="col-md-9" id="jokestertitle">JOKESTER</div>
  </div>
  
  <div class="row"id="topjokestitle"> TODAY'S TOP JOKES</div>

  <div class="row" id="topjokes">
    <div class="col-md-1"></div>

    <div class="col-md-10">
      <div class="joke">
        <p class="topjokes">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        <div class="zoom jokefooter"><input id="like" type="image" name="submit" src="assets/images/like.png" border="0" alt="Submit"/></div>
        <div class="zoom jokefooter"><input id="dislike" type="image" name="submit" src="assets/images/dislike.png" border="0" alt="Submit"/></div>
        <div class="jokefooter"><input id="comment" type="image" name="submit" src="assets/images/comment.png" border="0" alt="Submit"/></div>
      </div>    

      <div class="joke">
        <p class="topjokes">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
        <div class="zoom jokefooter"><input id="like" type="image" name="submit" src="assets/images/like.png" border="0" alt="Submit"/></div>
        <div class="zoom jokefooter"><input id="dislike" type="image" name="submit" src="assets/images/dislike.png" border="0" alt="Submit"/></div>
        <div class="jokefooter"><input id="comment" type="image" name="submit" src="assets/images/comment.png" border="0" alt="Submit"/></div>
      </div>    

      <div class="joke">
        <p class="topjokes">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
        <div class="zoom jokefooter"><input id="like" type="image" name="submit" src="assets/images/like.png" border="0" alt="Submit"/></div>
        <div class="zoom jokefooter"><input id="dislike" type="image" name="submit" src="assets/images/dislike.png" border="0" alt="Submit"/></div>
        <div class="jokefooter"><input id="comment" type="image" name="submit" src="assets/images/comment.png" border="0" alt="Submit"/></div>
      </div>    

    <div class="row" id="topjokestitle"> TODAY'S TOP JOKES</div>

    <div class="row" id="topjokes">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            {{#each jokes}} {{> jokes/jokes}} {{/each}}
        </div>

        <div class="col-md-1"></div>

    </div>

</div>

<script src="assets/js/vote.js"></script>