<div class="container">

  <div class="row">
    <div class="col-md-3"><img id="laughimage" src="/assets/images/laugh.png" alt="burgerimage"></div>
    <div class="col-md-9" id="jokestertitle">JOKESTER</div>
  </div>
  
  <div class="row" id="topjokestitle"> TODAY'S TOP JOKES</div>

    <div class="row" id="topjokes">
        <div class="col-md-1"></div>

        <div class="col-md-10">
            {{#each jokes}} {{> jokes/jokes}} {{/each}}
        </div>

        <div class="col-md-1"></div>

    </div>

</div>

<script src="/assets/js/vote.js"></script>