<div class="container">
    <div class="row" id="logintitile">LOG IN</div>

    <form action="">
        <div class="row" class="formemail">
            <label for="email" class="formemail">EMAIL:</label>
            <input id="email" class="formemailinput" type="text" placeholder="EMAIL">
        </div>
        <div class="row" class="formemailinput"></div>
        <div class="row" class="formpassword"><label for="password" class="formpassword">PASSWORD:</label> </div>   
        <div class="row" class="formpasswordinput"><input id="password" class="formpasswordinput" type="text" placeholder="PASSWORD"></div>
        <div class="row"><button>SUBMIT</button></div>
    </form>

    </div>
</div>