<div class="container">
    <div class="row" id="logintitile">SIGN UP</div>

    <form class="signup" action="">
    <div class="row">
        <div class="col-md-5"><label for="username" class="formusername">USERNAME:</label></div>
        <div class="col-md-7"><input id="username" class="formusernameinput" type="text" placeholder="USERNAME" required></div>
    </div>
    <div class="row">
        <div class="col-md-5" class="formpassword"><label for="password" class="formpassword">PASSWORD:</label> </div>   
        <div class="col-md-7" class="formpasswordinput"><input id="password" class="formpasswordinput" type="password" placeholder="PASSWORD" required></div>
    </div>   
        <div class="row" id="loginsubmitbutton"><button id="loginsubmitbuttonid">SUBMIT</button></div>
    </form>

    </div>
</div>

<script src="/assets/js/signup.js"></script>