<div class="container">
    <div class="row">
        <div class="joke" id="singlejokecontainer">
            <p class="singlejoke">{{text}}<br></p>
            <div class="singlejokefooter singlejokefootertext">SCORE: {{score}}</div>
            <div class="singlejokefooter singlejokefootertext">POSTED BY: {{username}}</div>
        </div>
    </div>

    <div class="row">
        <p id="addcomment">ADD A COMMENT!</p>
        <form id="comment-form" data-id="{{jokeId}}" action="">
            <textarea id="singlejoketextarea" id="" cols="60" rows="2" required></textarea><br> <br> 
            <button id="singlejokesubmit">SUBMIT</button>
        </form>
        <br>
        <br>
        <br>
        <p>{{#each comments}} {{> singlejoke/singlejokecomments}} {{/each}}</p>
    </div>

</div>

<script src="/assets/js/commentsubmit.js"></script>