<div class="container submitjokeform">

    <div class="row">
        <form class="joke" action="">
            <select id="category" name="category" required>
                <option value="" disabled selected> Select an Option</option>
                <option value="0">Animal Jokes</option>
                <option value="1">Cross the Road Jokes</option>
                <option value="2">Food Jokes</option>
                <option value="3">Kids Jokes</option>
                <option value="4">Knock Knock Jokes</option>
                <option value="5">Programming Jokes</option>
                <option value="6">School Jokes</option>
                <option value="7">Walks Into a Bar Jokes</option>
                <option value="8">Work Jokes</option>
                <option value="9">Yo Mama Jokes</option>
            </select>

            <input id="joketext" type="text">

            <input type="submit">

        </form>
    </div>
</div>

<script src="/assets/js/jokesubmit.js"></script>