<div class="container submitjokeform">
    <form class="jokeform" action="">
    
    <div class="row">
        <select id="category" required >
            <option disabled selected value>SELECT A TOPIC</option>
            <option value="animaljokes">Animal Jokes</option>
            <option value="crosstheroadjokes">Cross the Road Jokes</option> 
            <option value="foodjokes">Food Jokes</option>
            <option value="kidsjokes">Kids Jokes</option>
            <option value="knockknockjokes">Knock Knock Jokes</option>
            <option value="programmingjokes">Programming Jokes</option>
            <option value="schooljokes">School Jokes</option>
            <option value="walksintoabarjokes">Walks Into a Bar Jokes</option>
            <option value="workjokes">Work Jokes</option>
            <option value="yomamajokes">Yo Mama Jokes</option>
        </select>   
    </div> <br> <br>

    <div class="row">
        <textarea name="" id="jokeinputtext" cols="90" rows="7" maxlength="255" required></textarea>
    </div> <br> <br>
    
    <div class="row">
        <button id="submitjokebutton">SUBMIT</button>
    </div>

    </form>
</div> 

<script src="/assets/js/jokesubmit.js"></script>
