<div class="container submitjokeform">
    <form action="">
    
    <div class="row">
        
        <select id="question8" name="question8" required>
            <option value="" disabled selected value> SELECT A TOPIC</option>
            <option value="1">Animal Jokes</option>
            <option value="2">Cross the Road Jokes</option> 
            <option value="3">Food Jokes</option>
            <option value="4">Kids Jokes</option>
            <option value="5">Knock Knock Jokes</option>
            <option value="5">Programming Jokes</option>
            <option value="5">School Jokes</option>
            <option value="5">Walks Into a Bar Jokes</option>
            <option value="5">Work Jokes</option>
            <option value="5">Yo Mama Jokes</option>
        </select>   
    </div>

    <div class="row">
        <textarea name="" id="" cols="50" rows="5"></textarea>
    </div>
    
    

    <div class="row">

        <input type="submit">
    </div>

    </form>
</div> 