* {
  font-family: 'Tajawal', sans-serif;
}

body {
  background-color: rgb(36,60,88);
  font-size: 100%
}

#laughimage {
  margin-top: 8rem;
  height: 20rem;
}

#jokestertitle {
  color: rgb(244, 155, 0);
  margin-top: 4rem;
  padding-left: 0;
  font-size: 16rem;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.5rem;
}

.navbar-fixed-top {
  background-color: rgb(25,41,59);
}

.nav.navbar-nav li a {
  color: rgb(244, 155, 0);
  font-size: 1.75rem;
}

.navbar-nav .open .dropdown-menu {
  background-color: rgb(216, 216, 216);
}

.dropdown-menu li, .dropdown-menu a {
  color: rgb(25,41,59)!important;
  text-align: center;
}

#login, #signup, #logout, #greeting, #submitjoke {
    display: none;
}

#topjokestitle {
  font-family: 'Montserrat', sans-serif;
  color: rgb(216, 216, 216);
  display: block;
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
  /* font-family: 'Do Hyeon', sans-serif;
  letter-spacing: 0.2rem; */
}

#submitbutton {
  background-color: rgb(216, 216, 216);
  color: rgb(25,41,59);
}

input[placeholder="SEARCH"] {
  background-color: rgb(216, 216, 216);
  text-align: center;
}

#logintitile {
  color: rgb(244, 155, 0);
  margin-top: 8rem;
  margin-bottom: 3rem;
  padding-left: 0;
  font-size: 8rem;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.5rem;
  display: block;
  text-align: center;
}

.formusername, .formpassword {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: rgb(216, 216, 216);
  font-size: 3rem;
  display: block;
  text-align: center;
  float: right;
  margin-top: 3rem;
}

.formusernameinput, .formpasswordinput {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25,41,59);
  font-size: 2.2rem;
  display: block;
  align-content: center;
  text-align: center;
  margin-top: 3rem;
  float: left;
}

#loginsubmitbutton {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25,41,59);
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-top: 8rem;
}

#loginsubmitbuttonid {
  background-color: rgb(244, 155, 0);
}

input[placeholder="USERNAME"], input[placeholder="PASSWORD"] {
  background-color: rgb(216, 216, 216);
  text-align: center;
}

.topjokes {
  margin-top: 4rem;
  color: rgb(216, 216, 216);
  font-size: 2rem;
  display: block;
}

.like {
  height: 3rem;
  margin-top: .2rem;
}

.dislike {
  height: 3.2rem;
  width: 3.3rem;
}

.comment {
  margin-top: .5rem;
  margin-left: .5rem;
  height: 2.5rem;
  width: 14rem;
  margin-left: .5rem;
}

.zoom {
  transition: transform .2s;
  width: 3.3rem;
  height: 3rem;
}

.zoom:hover {
  transform: scale(2);
}

.jokefooter {
  float: left;
}

.jokefootertext {
  color: rgb(244, 155, 0); 
  font-size: 1.7rem;
  margin-top: .4rem;
  margin-left: 1.5rem;
  letter-spacing: .07rem;
}

#viewcomments {
  color: rgb(244, 155, 0); 
}

.joke {
  margin-bottom: 8rem;
}

.submitjokeform {
  font-size: 2rem;
  margin-top: 13rem;
  display: block;
  text-align: center;
}

select {
  /* background-color: rgb(216, 216, 216); */
}

#submitjokebutton {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25,41,59);
  font-size: 2rem;
  background-color: rgb(244, 155, 0);
}

/* div textarea {
  background-color: rgb(216, 216, 216);
} */

/* The snackbar - position it at the bottom and in the middle of the screen */
.notification {
    visibility: show;
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: black; /* Black background color */
    color: #fff; /* White text color */
    font-size: 1.5rem;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 40px; /* 40px from the bottom */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 40px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 40px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 40px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}