* {
  font-family: 'Tajawal', sans-serif;
}

body {
  background-color: rgb(36,60,88);
  font-size: 100%
}

#laughimage {
  margin-top: 8rem;
  height: 20rem;
}

#jokestertitle {
  color: rgb(244, 155, 0);
  margin-top: 4rem;
  padding-left: 0;
  font-size: 16rem;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.5rem;
}

.navbar-fixed-top {
  background-color: rgb(25,41,59);
}

.nav.navbar-nav li a {
  color: rgb(244, 155, 0);
  font-size: 1.75rem;
}

.navbar-nav .open .dropdown-menu {
  background-color: rgb(216, 216, 216);
}

.dropdown-menu li, .dropdown-menu a {
  color: rgb(25,41,59)!important;
  text-align: center;
}

#login, #signup, #logout, #greeting, #submitjoke {
    display: none;
}

#topjokestitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: rgb(216, 216, 216);
  display: block;
  text-align: center;
  font-size: 4rem;
  margin-top: 3rem;
}

#submitbutton {
  background-color: rgb(216, 216, 216);
  color: rgb(25,41,59);
}

input[placeholder="SEARCH"] {
  background-color: rgb(216, 216, 216);
  text-align: center;
}

#logintitile {
  color: rgb(244, 155, 0);
  margin-top: 8rem;
  margin-bottom: 3rem;
  padding-left: 0;
  font-size: 8rem;
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: 0.5rem;
  display: block;
  text-align: center;
}

.formusername, .formpassword {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: rgb(216, 216, 216);
  font-size: 3rem;
  display: block;
  text-align: center;
  float: right;
  margin-top: 3rem;
}

.formusernameinput, .formpasswordinput {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25,41,59);
  font-size: 2.2rem;
  display: block;
  align-content: center;
  text-align: center;
  margin-top: 3rem;
  float: left;
}

#loginsubmitbutton {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25,41,59);
  display: block;
  text-align: center;
  font-size: 3rem;
  margin-top: 8rem;
}

#loginsubmitbuttonid {
  background-color: rgb(244, 155, 0);
}

input[placeholder="USERNAME"], input[placeholder="PASSWORD"] {
  background-color: rgb(216, 216, 216);
  text-align: center;
}

.topjokes {
  margin-top: 4rem;
  color: rgb(216, 216, 216);
  font-size: 2rem;
  display: block;
}

.like {
  height: 3rem;
  margin-top: .2rem;
}

.dislike {
  height: 3.2rem;
  width: 3.3rem;
}

.comment {
  margin-top: .5rem;
  margin-left: .5rem;
  height: 2.5rem;
  width: 14rem;
  margin-left: .5rem;
}

.zoom {
  transition: transform .2s;
  width: 3.3rem;
  height: 3rem;
}

.zoom:hover {
  transform: scale(2);
}

.vote-button {
    display: none;
}

.jokefooter {
  float: left;
}

.jokefootertext {
  color: rgb(244, 155, 0); 
  font-size: 1.7rem;
  margin-top: .4rem;
  margin-left: 1.5rem;
  letter-spacing: .07rem;
}

#viewcomments {
  color: rgb(244, 155, 0); 
}

.joke {
  margin-bottom: 8rem;
}

.submitjokeform {
  font-size: 2rem;
  margin-top: 13rem;
  display: block;
  text-align: center;
}

select {
  /* background-color: rgb(216, 216, 216); */
}

#submitjokebutton {
  font-family: 'Montserrat', sans-serif;
  color: rgb(25,41,59);
  font-size: 2rem;
  background-color: rgb(244, 155, 0);
}

/* div textarea {
  background-color: rgb(216, 216, 216);
} */